# Compiled object files
*.o
*.ko
*.obj
*.elf

# Compiled dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled static libraries
*.a
*.la
*.lo
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Editor specific files
.vscode/
.idea/
*.swp
*~

# Custom binary names (common for C projects)
a.out
program
test
mainbin/
